@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Gerenciador de Material Escolar</b></h1>
    <h2>Clique em "Materiais" para usar o Gerenciador.</h2>
</div>
